*{
    border: 1px solid red;
}
.container{
    display: inline-block;
    border: 1px solid black;
    width: 100%;
}
h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
}
h1{ 
    font-family: "Quicksand", sans-serif;
    font-size: 36px;
}
ul{
    height: 24rem;
    margin: auto;
    padding: auto;
    display: flex;
}
/* colors */
.color{
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 20%;
}
.colors li{
    color: black;
}
li {
    
    width: 100px;
    text-align: center;
    
}


#yellow{
    background-color: #FBE8A6;
}
#citrus{
    background-color:#F4976C;
}
#navy{
    background-color:#303C6C;
}
#gloomy{
    background-color: #B4DFE5 ;
}
#clear{
    background-color: #D2FDFF;
}

